{
  "svelteSortOrder": "markup-styles-scripts-options",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": false,
  "printWidth": 120,
  "tabWidth": 4,
  "arrowParens": "avoid"
}
