html,
body {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slider-con {
  width: 80%;
  margin: 0 auto;
  .slider-test .slider-item {
    height: 10rem;
    @for $i from 1 through 6 {
      &:nth-of-type(6n + #{$i}) {
        background-color: rgb(random(255), random(255), random(255));
      }
    }
  }
}
