:root {
  --revWidth: 300px;
  --revMargin: 25px;
  --revDisplay: 2;
}

.ms-outer-con {
  position: relative;
  height: auto;
  width: calc((var(--revWidth) + 2 * var(--revMargin)) * var(--revDisplay));
  overflow: hidden;
  .ms-inner-con {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    > * {
      flex: 0 0 auto;
      user-select: none;
      width: var(--revWidth);
      margin: 0 var(--revMargin);
      display: inline-block;
    }
    > img,
    > * img {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
