:root {
  --slide-margin: 25px;
}

html,
body {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3 {
  text-align: center;
}
.ms-outer-con {
  --slide-width: 15rem;
  --slides-per-view: 2;
  margin: 0 auto;
  border: 1px solid red;
  .ms-inner-con .ms-item {
    height: 10rem;
    background-color: blue;
    color: white;
    text-align: center;
  }
}

.slider-btn {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  button {
    display: block;
  }
  .dot {
    border-color: blue;
    background-color: blue;
    padding: 0.5rem;
  }
  .dot.current {
    border-color: red;
    background-color: red;
  }
  .dot.adjacent {
    border-color: pink;
    background-color: pink;
  }
}

.ms-outer-con #image-slider div.img-con {
  overflow: hidden;
  img.loaded {
    filter: blur(0vw);
    transform: scale(1);
  }
  img {
    transition: 0.4s transform, 0.4s filter;
    filter: blur(2vw);
    transform: scale(1.05);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    user-select: none;
  }
}

.ms-outer-con.width-in-percentage {
  --number-of-slides: 6;
  --slides-per-view: 2;
  width: 60%;
  min-width: 300px;
  max-width: 56rem;
  .ms-inner-con > .nested-item {
    height: 10rem;
    div {
      width: 100%;
      height: 100%;
      background-color: blue;
      color: white;
      text-align: center;
    }
  }
}

@media (max-width: 700px) {
  .ms-outer-con.width-in-percentage {
    --slides-per-view: 1;
  }
}
